
final_project_SDA/__pycache__/

home_page/__pycache__/
home_page/migrations/__pycache__/
utils/__pycache__/
utils/migrations/__pycache__/
.idea/
venv/
admin_accounts/__pycache__/
admin_accounts/migrations/__pycache__/

