{% extends "front.html" %}
{% load static %}
{% block content %}
    <h1></h1>


    <div class="card" style="width: 18rem;">
        <img src="{{ MEDIA_URL }}{{box.photo }}" class="card-img-top" alt="picture">
        <div class="card-body">
            <h5 class="card-title">{{ box.name }}</h5>
            <p class="card-text">{{ box.size}}</p>
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-success btm-sm" >Koupit
                <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <br>
            <br>

        </div>
    </div>

{% endblock %}